header h1 {
   text-align: center;
   color:  #4CAF50;

}
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que o container ocupa toda a altura da tela */
  }
  
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: sans-serif;
    
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .valido {
    animation: check 0.5s ease-in-out;
  }
  
  .invalido {
    animation: erro 0.5s ease-in-out;
  }
  
  @keyframes check {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  
  @keyframes erro {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }